html{
    --bgcolor:#00224D;
    --hgColor:#0D0D0D;
    --primary-color: #FF204E;
    --secondary-color: #A0153E;
    --textFont: "Comic Neue", sans-serif;
    --titlesFont: "Patrick Hand", serif;
}

.hero-carousel .carousel-item img {
    height: 500px;   
    object-fit: cover; }

<<<<<<< HEAD
.card {
    background-color: #FFFFFF; 
    border: 2px solid #5D0E41; 
    border-radius: 15px;
    padding: 15px;
}

.card-title {
    color: #A0153E;
=======
/* acordion */

.accordion-button:not(.collapsed){
    background-color: var(--bgcolor);
    color: var(--secondary-color);
    font-family: var(--titlesFont);
    font-size: 2rem;
}
.accordion-button{
    background-color: var(--bgcolor);
    color: var(--secondary-color);
    font-family: var(--titlesFont);
    font-size: 2rem;
}
.accordion-collapse{
    background-color: white;
    color: var(--hgColor);
    font-family: var(--textFont);
    font-size: 0.95rem;
}
/* acordion */

.card {
    background-color: var(--bgcolor); 
    border: 2px solid var(--secondary-color); 
    border-radius: 15px;
    padding: 15px;

}

.card-title {
    color: var(--secondary-color);
>>>>>>> d51505417454b5183f77ce26cac89b7e751513a8
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
<<<<<<< HEAD
    color: #00224D;
=======
    color: #ffffff;
>>>>>>> d51505417454b5183f77ce26cac89b7e751513a8
    line-height: 1.4;
    font-size: 0.95rem;
}

<<<<<<< HEAD
section h3 {
    text-align: center;
    color: #5D0E41;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 1.8rem;
}

.card img {
    transition: transform 0.4s ease;
=======

.card img {
    transition: transform 0.4s ease;
    width: 200px;
    height: 250px;
    object-fit: cover;   
>>>>>>> d51505417454b5183f77ce26cac89b7e751513a8
}

.card:hover img {
    transform: scale(1.05);
}

<<<<<<< HEAD
=======
#navBar{
    background-color:var(--bgcolor);
}

.hero-carousel .carousel-item{
    background-color: var(--bgcolor);
}
>>>>>>> d51505417454b5183f77ce26cac89b7e751513a8
