html,
body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    --bgcolor: #00224D;
    --hgColor: #0D0D0D;
    --primary-color: #FF204E;
    --secondary-color: #A0153E;
    --textFont: "Inter", sans-serif;
    --titlesFont: "Poppins", sans-serif;
}

body {
 background: radial-gradient(circle at top, #143a73 0, #00132b 45%, #000814 100%);
    color: #ffffff;
    font-family: var(--textFont);
}

h1{
    font-family: var(--titlesFont);
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
}

h2,
h3,
h4,
h5 {
    font-family: var(--titlesFont);
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
}

/* responsive */

@media (max-width: 768px) {
    h1 {
        font-size: 2.2rem;
    }

    h2,
    h3 {
        font-size: 1.6rem;
    }
    .custom-form-bg{
        padding: 20px;
    }
}